<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vulcan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vulcan.styles.css" asp-append-version="true" />
</head>

<style>
    ul li {
        list-style: none;
        display: list-item;
    }

    th, td {
        border: 1px solid black;
    }

    td > ul > li > a {
        text-decoration: none;
        text-decoration-color: blue;
        text-align: left;
        text-justify: auto;
        color: blue;
    }
</style>

<body>
    <table class="table" border="1" height="400px">
        <tbody>
            <tr>
                <td width="15%">
                    <ul>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="VulcanTransactions" asp-action="Create">Import File</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="VulcanTransactions" asp-action="Index">View Imports</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="VulcanTransactionReportViews" asp-action="Index">Report</a>
                        </li>
                    </ul>
                </td>
                <td width="85%">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Vulcan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
