@model IEnumerable<Vulcan.Models.VulcanTransaction>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 10%">Vulcan Transaction Demo</h1>
</div>
