@model IEnumerable<Vulcan.Models.VulcanTransaction>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @* <table class="table" border="1" height="400px">
        <tbody>
            <tr>
                <td width="15%">
                    <ul>
                        <li>
                            <a>Import File</a>
                        </li>
                        <li>
                            <a>View Imports</a>
                        </li>
                        <li>
                            <a>Report</a>
                        </li>
                    </ul>
                </td>
                <td width="85%">
                    <div>
                        @* @ViewData["VulcanContent"] *@
                        @* @ViewComponent["Vulcan"] *@
                        @* @RenderSection("VulcanTransactions") *@
                       @*  <main role="main" class="pb-3">
                            @RenderBody()
                        </main> *
                    </div>
                    <h2>Content</h2>
                </td>
            </tr>
        </tbody>
    </table> *@
</div>
